@model Bikr.Models.Ping

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ping</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BikeFindrID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BikeFindrID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PingDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PingDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PingX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PingX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PingY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PingY)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PingID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
