@model IEnumerable<Bikr.Models.Ping>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BikeFindrID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PingDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PingX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PingY)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BikeFindrID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PingDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PingX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PingY)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PingID })
        </td>
    </tr>
}

</table>
